<h3>Inspection for {{ inspection.parish.name }}</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Question</th>
            <th>Response</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Signage: Is signage present, stable, legible and with no protruding bolts? </td>
            <td>{{ inspection.get_signage_display }}</td>
        </tr>
        <tr>
            <td>General Surfaces: Are they free from debris, erosion, litter, weeds, slippery algae, etc.?</td>
            <td>{{ inspection.get_general_surfaces_debris_display }}</td>
        </tr>
        <tr>
            <td>General Surfaces: Are any ground grids present and secure?</td>
            <td>{{ inspection.get_general_surfaces_grids_display }}</td>
        </tr>
        <tr>
            <td>Litter Bins: Are they secure with liners present?</td>
            <td>{{ inspection.get_litter_bins_secure_display }}</td>
        </tr>
        <tr>
            <td>Litter Bins: Are they empty or not in need of emptying?</td>
            <td>{{ inspection.get_litter_bins_empty_display }}</td>
        </tr>
        <tr>
            <td>Seating – Various: Are the seats secured to the ground, stable, clean, undamaged, and showing no obvious signs of timber decay or corrosion/decay?</td>
            <td>{{ inspection.get_seating_stable_display }}</td>
        </tr>
        <tr>
            <td>Swing – Mixed – 2 Bay 4 Seat- Wicksteed: Are the supports and cross bar secure, undamaged, and free from any obvious signs of corrosion?</td>
            <td>{{ inspection.get_swing_supports_secure_display }}</td>
        </tr>
        <tr>
            <td>Swing – Mixed – 2 Bay 4 Seat- Wicksteed: Are all caps fitted?</td>
            <td>{{ inspection.get_swing_caps_display }}</td>
        </tr>
        <tr>
            <td>Swing – Mixed – 2 Bay 4 Seat- Wicksteed: Is the unit stable?</td>
            <td>{{ inspection.get_swing_unit_stable_display }}</td>
        </tr>
        <tr>
            <td>Swing – Mixed – 2 Bay 4 Seat- Wicksteed: Are the swing seats free from damage and secure?</td>
            <td>{{ inspection.get_swing_seats_secure_display }}</td>
        </tr>
        <tr>
            <td>Swing – Mixed – 2 Bay 4 Seat- Wicksteed: Are the chains and shackles showing no signs of excessive wear and working freely?</td>
            <td>{{ inspection.get_swing_chains_wear_display }}</td>
        </tr>
        <tr>
            <td>Swing – Mixed – 2 Bay 4 Seat- Wicksteed: Is the surfacing undamaged and in a good condition without erosion/puddling?</td>
            <td>{{ inspection.get_swing_surfacing_condition_display }}</td>
        </tr>
        <tr>
            <td>Slide – Embankment: Is the starting section secure, stable and free from damage?</td>
            <td>{{ inspection.get_slide_secure_display }}</td>
        </tr>
        <tr>
            <td>Slide – Embankment: Is the slide-chute in a good condition, clean and free from any foreign objects and with no sharp edges?</td>
            <td>{{ inspection.get_slide_clean_display }}</td>
        </tr>
        <tr>
            <td>Slide – Embankment: Is the surfacing undamaged and in a good condition?</td>
            <td>{{ inspection.get_slide_surfacing_condition_display }}</td>
        </tr>
        <tr>
            <td>(Cableway) Are all the supports, barriers secure and undamaged with no signs of obvious corrosion/decay present?</td>
            <td>{{ inspection.get_cableway_supports_secure_display }}</td>
        </tr>
        <tr>
            <td>(Cableway) Is the unit stable?</td>
            <td>{{ inspection.get_cableway_unit_stable_display }}</td>
        </tr>
        <tr>
            <td>((Cableway) Are all component parts present including caps?</td>
            <td>{{ inspection.get_cableway_caps_present_display }}</td>
        </tr>
        <tr>
            <td>(Cableway) Are the cable, seat, and suspension chain present, secure and free from damage?</td>
            <td>{{ inspection.get_cableway_suspension_chain_display }}</td>
        </tr>
        <tr>
            <td>(Cableway) Does the traveller run smoothly with no undue noise?</td>
            <td>{{ inspection.get_cableway_traveller_smooth_display }}</td>
        </tr>
        <tr>
            <td>Cableway) Are the take-off and landing areas undamaged?</td>
            <td>{{ inspection.get_cableway_take_off_display }}</td>
        </tr>
        <tr>
            <td>(Cableway) Is the surfacing undamaged and free from trips?</td>
            <td>{{ inspection.get_cableway_surfacing_condition_display }}</td>
        </tr>
        <tr>
            <td>(Agility Tunnel Mound -Large) Are the tunnel ends free from damage?</td>
            <td>{{ inspection.get_tunnel_damage_free_display }}</td>
        </tr>
        <tr>
            <td>(Agility Tunnel Mound -Large) Is the tunnel clean and undamaged?</td>
            <td>{{ inspection.get_tunnel_clean_display }}</td>
        </tr>
        <tr>
            <td>(Agility Tunnel Mound -Large) Are the palisade logs, steps, ladder and barriers in a good stable condition with no obvious signs of decay?</td>
            <td>{{ inspection.get_tunnel_palisade_stable_display }}</td>
        </tr>
        <tr>
            <td>(Agility Tunnel Mound -Large) Is the surfacing in good order?</td>
            <td>{{ inspection.get_tunnel_surfacing_condition_display }}</td>
        </tr>
        <tr>
            <td>(Natural Play – Logs) Are the logs secure, free from damage and any obvious signs of decay?</td>
            <td>{{ inspection.get_logs_secure_display }}</td>
        </tr>
        <tr>
            <td>(Natural Play – Logs) Is the unit free from slippery algae?</td>
            <td>{{ inspection.get_logs_free_of_decay_display }}</td>
        </tr>
        <tr>
            <td>(Natural Play – Logs) Is the surfacing undamaged and in a good condition with no erosion and puddling?</td>
            <td>{{ inspection.get_logs_surfacing_condition_display }}</td>
        </tr>
        <tr>
            <td>(Climber - Logs) Are all supports stable, secure and free from damage and any obvious signs of decay?</td>
            <td>{{ inspection.get_climber_logs_secure_display }}</td>
        </tr>
        <tr>
            <td>(Climber - Logs) Are all component parts present and secure including caps and holds?</td>
            <td>{{ inspection.get_climber_components_secure_display }}</td>
        </tr>
        <tr>
            <td>(Climber - Logs) Is the unit stable and free from slippery algae?</td>
            <td>{{ inspection.get_climber_unit_stable_display }}</td>
        </tr>
        <tr>
            <td>(Climber - Logs) Are the climbing holds present, secure and non-rotating?</td>
            <td>{{ inspection.get_climber_holds_present_display }}</td>
        </tr>
        <tr>
            <td>(Climber - Logs) Is the surfacing undamaged and free from trips?</td>
            <td>{{ inspection.get_climber_surfacing_condition_display }}</td>
        </tr>


    </tbody>
</table>

<h4>General Comment</h4>
<p>{{ comment.comment_text }}</p>



