{% extends 'inspections/base.html' %}

{% block title %}{{ inspection }}{% endblock %}

{% block content %}
    <div class="card parish-card parish-details-card p-3">
        
        <h4>{{ inspection }}
            <a href="{% url 'parish_detail' inspection.parish.id %}" class="btn btn-secondary back-btn" title="Back" style="margin-top: -15px; display:flex;"><i data-feather="arrow-left-circle"></i>Back</a></h4>
        <table class="table table-bordered inspections-table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                {% for inspection_question in inspection_questions %}
                <tr>
                    <td>{{ inspection_question.question.question_text }}</td>
                    <td class="text-center">
                        {% if inspection_question.answer == "yes" %}
                        <i data-feather="check-circle"></i>
                        {% elif inspection_question.answer == "no" %}
                        <i data-feather="x-circle"></i>
                        {% elif inspection_question.answer == "other" %}
                        <i data-feather="slash"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if inspection_questions.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ inspection_questions.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ inspection_questions.number }} of {{ inspection_questions.paginator.num_pages }}.
                </span>
        
                {% if inspection_questions.has_next %}
                    <a href="?page={{ inspection_questions.next_page_number }}">next</a>
                    <a href="?page={{ inspection_questions.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <h4>General Comment</h4>
        <p>{{ comment.comment_text }}</p>
    </div>
    

{% endblock %}





