{% extends 'inspections/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <section id="login-page">
            <section id="login-wrapper">
                <form method="POST" class="login-form p-4">
                    {% csrf_token %}
                    <h4 class="text-center mb-4"><i data-feather="user-plus"></i> Register here</h4>
                    <!-- Render each form field manually to control help text -->
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <label for="id_username">Username:</label>
                            <br>
                            {{ form.username }}  <!-- Username field -->
                            <br>
                            {% if form.username.help_text %}
                                <p class="help-text mt-2 mb-0"><small>{{ form.username.help_text }}</small></p>  <!-- Help text -->
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label for="id_password1">Password:</label>
                            <br>
                            {{ form.password1 }}  <!-- Password field -->
                            <br>
                            {% if form.password1.help_text %}
                                <p class="help-text mt-2 mb-0"><small>{{ form.password1.help_text }}</small></p>  <!-- Help text -->
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label for="id_password2">Confirm Password:</label>
                            <br>
                            {{ form.password2 }}  <!-- Password confirmation field -->
                            <br>
                            {% if form.password2.help_text %}
                                <p class="help-text mt-2"><small>{{ form.password2.help_text }}</small></p>  <!-- Help text -->
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-2">Register</button>
                </form>
            </section>
    </section>
{% endblock %}
