{% extends 'inspections/base.html' %}

{% block content %}
    <div class="container">
        <h1>Inspection Reports</h1>

        <!-- DataTable -->
        <table id="inspectionReports" class="table table-striped">
            <thead>
                <tr>
                    <th>Parish Name</th>
                    <th>Inspection Owner</th>
                    <th>Date</th>
                    <th>Report Name</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically populated by DataTable -->
            </tbody>
        </table>
    </div>

{% endblock %}


